:root {
  --color-bg: #f9f8f3;
  --color-main: #065c00;
  --color-link-bg-hover: #afcdac;
  --color-link-bg: #d5e3d3;
  --color-highlight: #5b8dc9;
  --height-footer: 80px;
  --height-header: 40px;
  --spacing: 40px;
  --spacing-m: 60px;
  --spacing-l: 100px;
  --spacing-xl: 180px;
}

html {
  font-family: Courier, monospace;
  font-size: 10px;
  color: var(--color-main);
  background: var(--color-bg);
  transition: color .2s;
}

img {
  width: 100%;
}

/* reset */
body, h1, h2, h3, h4, p, blockquote, ul, ol, li, a, button {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-main);
  text-decoration: none;
}

body {
  overflow: hidden;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px dashed;
  padding: 0 10px;
  height: var(--height-header);
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVgAAAFYCAYAAAAWbORAAAAC+HpUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHja7ZdbluQmDIbfWUWWgCSExHIwl3NmB1l+frDLXdU9k8xM8pCHgmOLEliS9QncHcaf32b4A41KTiGpeS45R7RUUuGKgcezlX2nmPZ9N/VrRK/6cE8wpEDKOWH1lFSh148HHj7oeNUHv2bYL0PXBAzvJsvzGvfnIKHnU0/pMlTGOcjF7TnU4zLUroU7lOtKd1inWL/Di8KQpa5wJMxDSOK+pzMCWRdJ3bJilLGORDFOYgFC5GEMCXl5vYeM8TlBL0l+jMLn7N+jT8nneunlUy7zlSMMvjtB+kkvtxt+dix3RPw6Yfow9TXJc3afc5xvV1NGRvNVUTvZ9DCDhQdSLvuxjG64FGPbvaB7rLEBeY8tHuiNCjGozECJOlWaNLZs1BBi4sEGydwAaulcjAs3WZzS6jTZpEgXB8PGI4BZEr5joe23bH+NHJ47YSkTjBEe+WEPfzf5Kz3M2VaKKPqdK8TFq64RxiK37lgFIDQvbroT/OgX/vhUPyhVENSdZscL1nicJg6lj9qSzVmwTiHPLUTB+mUAKYJvRTAkIBAzqp8yRWM2IuTRAagicpbEBwiQKncEyUmwW4Kx8/KNZ4z2WlbOvNQ4mwBCJYuBTZEKWCkp6seSo4aqiiZVzWrqQYvWLDllzTlbXodcNbFkatnM3IpVF0+unt3cvXgtXARnoJZcrHgppVYOFY4qbFWsr9AcfMiRDj3yYYcf5agN5dNS05abNW+l1c5dOo6Jnrt176XXQWHgpBhp6MjDho8y6kStTZlp6szTps8y603tovql/wI1uqjxJrXW2U0N2mD2MEHrONHFDMQ4EYjbIoCC5sUsOqXEi9xiFgtjUygjSF1sQqdFDAjTINZJN7sPcj/FDV+Rn+LG/0QuLHT/BbkAdF+5fYdaX9+5tomdu3DlNAp235RR2UPlA9Mj48jBz7o+cL8lQ/yXBt6G3obeht6G3obeht6G/h+GJv6AwD+y4S+k657gkl8QdwAAAYRpQ0NQSUNDIHByb2ZpbGUAAHicfZE9SMNAHMVfU6UiFQU7iDhkqE4tiIo4ahWKUCHUCq06mFz6BU0akhQXR8G14ODHYtXBxVlXB1dBEPwAcXNzUnSREv+XFFrEeHDcj3f3HnfvAKFRYZrVNQ5oum2mkwkxm1sVQ68QMIAI4ojJzDLmJCkF3/F1jwBf7+I8y//cn6NPzVsMCIjEs8wwbeIN4ulN2+C8TxxhJVklPieOmXRB4keuKx6/cS66LPDMiJlJzxNHiMViBysdzEqmRjxFHFU1nfKFrMcq5y3OWqXGWvfkLwzn9ZVlrtMcQRKLWIIEEQpqKKMCm/oqQyfFQpr2Ez7+YdcvkUshVxmMHAuoQoPs+sH/4He3VmFywksKJ4DuF8f5GAVCu0Cz7jjfx47TPAGCz8CV3vZXG8DMJ+n1thY9Avq3gYvrtqbsAZc7wNCTIZuyKwVpCoUC8H5G35QDBm+B3jWvt9Y+Th+ADHWVugEODoGxImWv+7y7p7O3f8+0+vsBqcNyvXdiEakAAAAGYktHRAAAAAAAAPlDu38AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQflAhAULx5TuCrMAAAD2UlEQVR42u3YwRUBARBEwV5vDgIgGqLhICqiIRqCEANvZi9bFUIf/qGX/W0JAP12JgAQWACBBUBgAQQWQGABEFgAgQUQWAAEFkBgAQQWAIEFEFgAgQVAYAEEFkBgARBYAIEFEFgABBZAYAEEFgCBBRBYAIEFQGABBBZAYAEQWACBBRBYAAQWQGABBBYAgQUQWACBBUBgAQQWQGABEFgAgQUQWAAEFkBgAQQWAIEFEFgAgQXgd5XkYAaAmcC+zQDQz0UAILAAAguAwAIILIDAAiCwAAILILAACCyAwAIILAACCyCwAAILgMACCCyAwAIgsAACCyCwAAgsgMACCCwAAguwskpyNQPATGAfZgDo5yIAEFgAgQVAYAEEFkBgARBYAIEFEFgABBZAYAEEFgCBBRBYAIEFQGABBBZAYAEQWACBBRBYAAQWQGABBBYAgQUQWACBBUBgAQQWQGABEFgAgQUQWAAEFkBgAQQWAIEFEFgAgQVAYAEEFkBgARBYAIEFEFgABBZAYAEEFgCBBRBYAIEFQGABBBZAYAEQWACBBRBYAAQWQGABBBYAgQUQWACBBUBgAQQWQGABEFgAgQUQWAAEFkBgAQQWAIEFEFgAgQVAYAEEFmCzKsnJDAAzgX2aAaCfiwBAYAEEFgCBBRBYAIEFQGABBBZAYAEQWACBBRBYAAQWQGABBBYAgQUQWACBBUBgAQQWQGABEFgAgQUQWAAEFmBlleRsBoCZwL7MANDPRQAgsAACC4DAAggsgMACILAAAgsgsAAILIDAAggsAAILILAAAguAwAIILIDAAiCwAAILILAACCyAwAIILAACCyCwAAILgMACCCyAwAIgsAACCyCwAAgsgMACCCwAAgsgsAACC4DAAggsgMACILAAAgsgsAAILIDAAggsAAILILAAAguAwAIILIDAAiCwAAILILAACCyAwAIILAACCyCwAAILgMACCCyAwAIgsAACCyCwAAgsgMACCCwAAgsgsAACC4DAAggswGZVkosZAGYCezcDQD8XAYDAAggsAAILILAAAguAwAIILIDAAiCwAAILILAACCyAwAIILAACCyCwAAILgMACCCyAwAIgsAACCyCwAAgswMoqydEMADOB/ZgBoJ+LAEBgAQQWAIEFEFgAgQVAYAEEFkBgARBYAIEFEFgABBZAYAEEFgCBBRBYAIEFQGABBBZAYAEQWACBBRBYAAQWQGABBBYAgQUQWACBBUBgAQQWQGABEFgAgQUQWAAEFkBgAQQWAIEFEFgAgQVAYAEEFkBgARBYAIEFEFgABBZAYAEEFoA/fAGHTwk4lBl0iQAAAABJRU5ErkJggg==);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.home-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  height: var(--height-footer);
}

.home-section {
  position: absolute;
  top: var(--height-header);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: calc(100% - var(--height-header));
  overflow: scroll;
  transition: left .4s;
  transition-timing-function: ease-in-out;
}
.home-section:first-of-type,
.shift .home-section:not(:first-of-type) {
  left: 0;
}
.home-section:not(:first-of-type) {
  left: 100%;
}
.shift .home-section:first-of-type {
  left: -100%;
}
.content h1 {
  display: inline-block;
  flex-basis: 0;
  margin-top: var(--spacing-m);
  padding: 5px 10px;
  border: 1px solid;
}
.home-section--feed .content > *:last-child {
  margin-top: var(--spacing-l);
  padding-bottom: 200px;
}

.content {
  padding-bottom: var(--spacing);
  width: 800px;
  text-align: center;
}

/* typography */

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: var(--spacing);
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  margin-bottom: 10px;
  font-size: 3.75rem;
  font-weight: 500;
}

h4 {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px dashed;
  font-size: 1.5rem;
}

p, li {
  line-height: 3.2rem;
}
p {
  margin-bottom: 10px;
}

a {
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  transition: color .2s;
}
a:hover {
  color: #000;
}
a:not(.card--link):before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -10px;
  top: 15%;
  height: 20px;
  width: calc(100% + 20px);
  transform: rotate(-1deg);
  transition: background-color 0.2s;
  background: var(--color-link-bg);
}
a:not(.card--link):hover:before {  
  background: var(--color-link-bg-hover);
}
*:not(p):nth-child(even) > a:not(.card--link):before {
  transform: rotate(2deg);
}
p > a:not(.card--link):before {
  left: -3px;
  width: calc(100% + 6px);
  transform: rotate(0deg);
}

button {
  border: 1px dashed;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1.5rem;
  background: none;
}

/* home footer */

.home-footer--toggle {
  position: relative;
  cursor: pointer;
}
.home-footer--toggle + .home-footer--toggle {
  margin-left: 10px;
}
.home-footer--toggle.active:before,
.home-footer--toggle:hover:before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -15px;
  bottom: 0px;
  height: 20px;
  width: 20px;
  background: var(--color-highlight);
  transform: rotate(-20deg);
}
.home-footer--toggle + .home-footer--toggle.active:before,
.home-footer--toggle + .home-footer--toggle:hover:before {
  top: -15px;
  left: auto;
  right: 10px;
  transform: rotate(10deg);
}
.home-footer--toggle.active {
  cursor: default;
}

/* issue */
.issue + .card {
  margin-top: 150px;
}
.issue--date {
  margin-bottom: var(--spacing);
  font-style: italic;
}

.issue--author-list {
  margin-bottom: var(--spacing);
  max-width: 900px;
  list-style: none;
  counter-reset: author-counter;
}
.issue--author-list--item {
  counter-increment: author-counter;
}
.issue--author-list--item:before {
  content: "0" counter(author-counter) ". ";
}

/* card */
.card {
  position: relative;
  margin: var(--spacing-xl) 0;
  width: 100%;
  text-align: left;
}
.card:after {
  content: "";
  display: table;
  clear: both;
}

.card--link {
  display: block;
  transition: color .2s;
}

.card--link:hover * {
  color: #000;
}
.card--link:after {
  content: "";
  display: table;
  clear: both;
}

.card--image {
  position: relative;
  float: right;
  margin: 0 0 20px 20px;
  width: 400px;
  transition: opacity .2s, filter .19s;
}
.card--link:hover .card--image {
  opacity: .95;
  filter: hue-rotate(130deg);
}

.card--title {
  position: relative;
}
.card--title:before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -50px;
  top: 30px;
  height: 20px;
  width: calc(100% + 100px);
  transform: rotate(1deg);
  transition: background-color 0.2s;
  background: var(--color-link-bg);
}
.card--link:hover .card--title:before {
  background: var(--color-link-bg-hover);
}

.card:nth-of-type(3n+2) .card--title:before {
  top: 10px;
  left: -35px;
  width: calc(100% + 50px);
  transform: rotate(-3deg);
}

.card:nth-of-type(3n+3) .card--title:before {
  top: 40px;
  left: -35px;
  width: calc(100% + 75px);
  transform: rotate(3deg);
}

.card--link:after {
  display: block;
  overflow: hidden;
  content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  margin-top: 20px;
  width: 100%;
  letter-spacing: 15px;
  color: var(--color-link-bg-hover);
}

.card--date {
  position: absolute;
  left: -50px;
  top: -40px;
  display: inline-block;
  margin-bottom: 0;
  border-bottom: 2px dashed;
  border-color: var(--color-link-bg-hover);
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: right;
  transform: rotate(-2deg);
}
.card--author {
  font-style: italic;
}
.card--column {
  margin-bottom: 20px;
  letter-spacing: 7px;
  text-align: right;
  text-transform: uppercase;
}

.card--tags {
  margin-top: 30px;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.card--tags span {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid;
  padding: 2px 4px;
}

@media (max-width: 1399px) {
  .content {
    width: 600px;
  }
  .card--link:after {
    content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  }
  .card--image {
    width: 300px;
  }
}

@media (max-width: 999px) {
  html {
    font-size: 9px;
  }
  .content {
    width: calc(100% - 40px);
    max-width: 500px;
  }
  .card--link:after {
    content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  }
  .card--image {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .card--date {
    left: 0;
  }
  .card--title:before,
  .card:nth-of-type(3n+2) .card--title:before,
  .card:nth-of-type(3n+3) .card--title:before {
    display: none;
  }
  .home-footer {
    justify-content: center;
    width: 100%;
    border-top: 1px dashed;
    padding: 0;
    height: 40px;
    background: var(--color-bg);
  
  }
  .home-footer--toggle {
    height: 40px;
    border: none;
  }
  .home-footer--toggle.active:before,
  .home-footer--toggle:hover:before {
    display: none;
  }
}