:root {
  --color-bg: #f9f8f3;
  --color-main: #065c00;
  --color-link-bg-hover: #cbd5ca;
  --color-link-bg: #dae3d8;
  --color-highlight: #97aecd;
  --color-tqr: #0ca900;
  --color-blue: #01019b;
  --height-footer: 80px;
  --height-header: 40px;
  --width-nav: 225px;
  --spacing: 30px;
  --spacing-m: 60px;
  --spacing-l: 100px;
  --spacing-xl: 150px;
}

html {
  font-family: Courier, monospace;
  font-size: 10px;
  color: var(--color-main);
  background: var(--color-bg);
  transition: color .2s;
}

/* reset */
body, menu, h1, h2, h3, h4, p, blockquote, ul, ol, li, a, button {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-main);
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  position: relative;
  overflow: hidden;
  width: 100%;
}

section {
  box-sizing: border-box;
  padding-bottom: var(--spacing);
  width: 100%;
  padding: 100px 0 0 100px;
}
.content {
  width: calc(100% - 100px - 225px);
  max-width: 1000px;
}

/* * * * * * * */
/* typography  */
/* * * * * * * */

h1 {
  position: relative;
  padding: 0 0 5px;
  border-bottom: 1px dashed;
  font-size: 1.5rem;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h2 {
  margin-top: var(--spacing);
  font-size: 7rem;
  font-weight: 500;
}

h3 {
  margin-bottom: 10px;
  font-size: 3.75rem;
  font-weight: 500;
}

h4 {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px dashed;
  font-size: 1.5rem;
}

p, li {
  line-height: 2.2rem;
}
p {
  margin-bottom: 10px;
}

a {
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  transition: color .2s;
}
a:hover {
  color: var(--color-blue);
}

button {
  border: 1px dashed;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1.5rem;
  background: none;
}

.header--feed:after {
  position: absolute;
  top: -9px;
  content: '\2639';
  font-size: 3rem;
}

/* * * * * * * */
/* navigation  */
/* * * * * * * */

nav {
  position: absolute;
  z-index: 1;
  right: 0;
  box-sizing: border-box;
  border: 7px solid var(--color-tqr);
  padding: 40px 40px 0 0;
  width: 225px;
  height: 100%;
  text-align: right;
  background: #fff;
}

.nav__h1 {
  display: inline-block;
  padding: 5px;
  letter-spacing: 0;
  border: 1px dashed;
}

.nav__toggle {
  cursor: pointer;
}
.nav__list {
  margin-top: 5px;
}
.nav__h1 + .nav__list {
  margin-top: 20px;
}
.nav__item {
  list-style: none;
  font-size: 1.5rem;
}
.nav__item--label {
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* * * * */
/* home  */
/* * * * */

.home__section {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: left .4s;
  transition-timing-function: ease-in-out;
}
.home__section:first-of-type,
.shift .home__section:not(:first-of-type) {
  left: 0;
}
.home__section:not(:first-of-type) {
  left: 100vw;
}
.shift .home__section:first-of-type {
  left: -100vw;
}

.home__section--feed .content > *:last-child {
  margin-top: var(--spacing-l);
  padding-bottom: 200px;
}

.home__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  height: var(--height-footer);
}

.home__footer__toggle {
  position: relative;
  cursor: pointer;
}
.home__footer__toggle + .home__footer__toggle {
  margin-left: 10px;
}
.home__footer__toggle.active:before,
.home__footer__toggle:hover:before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -15px;
  bottom: 0px;
  height: 20px;
  width: 20px;
  background: var(--color-highlight);
  transform: rotate(-20deg);
}
.home__footer__toggle + .home__footer__toggle.active:before,
.home__footer__toggle + .home__footer__toggle:hover:before {
  top: -15px;
  left: auto;
  right: 10px;
  transform: rotate(10deg);
}
.home__footer__toggle.active {
  color: var(--color-blue);
  border-color: var(--color-main);
}

/* issue */
.issue {
  text-align: left;
}
.issue__date {
  margin-bottom: var(--spacing);
  font-style: italic;
}

.issue__author-list {
  margin-bottom: var(--spacing);
  max-width: 900px;
  list-style: none;
  counter-reset: author-counter;
}
.issue__author-list__item {
  counter-increment: author-counter;
  text-transform: uppercase;
}
.issue__author-list__item:before {
  content: "0" counter(author-counter) ". ";
}

/* card */
.card {
  position: relative;
  margin: var(--spacing-l) 0;
  width: 100%;
  text-align: left;
}
.card:after {
  content: "";
  display: table;
  clear: both;
}

.card__link {
  display: block;
  transition: color .2s;
}

.card__link:hover * {
  color: #01019b;
}
.card__link:after {
  content: "";
  display: table;
  clear: both;
}

.card__image {
  position: relative;
  float: left;
  margin: 0 20px 20px 0;
  width: 400px;
  transition: opacity .2s, filter .19s;
}
.card__link:hover .card__image {
  opacity: .95;
  filter: hue-rotate(130deg);
}

.card__title {
  position: relative;
}
.card__title:before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -20px;
  top: 30px;
  height: 20px;
  width: calc(100% + 40px);
  transform: rotate(1deg);
  transition: background-color 0.2s;
  background: #fff;
}
.card__link:hover .card__title:before {
  background: #f1f1f1;
}

.card:nth-of-type(3n+2) .card__title:before {
  top: 10px;
  left: -25px;
  width: calc(100% + 40px);
  transform: rotate(-3deg);
}

.card:nth-of-type(3n+3) .card__title:before {
  top: 40px;
  left: -25px;
  width: calc(100% + 40px);
  transform: rotate(3deg);
}

.card__link:after {
  display: block;
  overflow: hidden;
  content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  margin-top: 20px;
  width: 100%;
  letter-spacing: 15px;
  font-size: 2.5rem;
  color: var(--color-tqr);
}

.card__date {
  position: absolute;
  left: -20px;
  top: -40px;
  z-index: 1;
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: right;
  transform: rotate(-2deg);
  color: #fff;
}
.card__date:after {
  position: absolute;
  top: -15px;
  left: -20px;
  z-index: -1;
  height: 40px;
  width: 150px;
  content: ' ';
  background: var(--color-tqr);
}
.card__author {
  font-style: italic;
}
.card__category {
  margin-bottom: 20px;
  letter-spacing: 7px;
  text-align: right;
  text-transform: uppercase;
}

.card__tags {
  margin-top: 30px;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.card__tags span {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid;
  padding: 2px 4px;
}

@media (max-width: 1199px) {
  html {
    font-size: 9px;
  }
  .card__image {
    width: 300px;
  }
}

@media (max-width: 899px) {
  nav {
    display: none;
  }
  section {
    padding: 20px;
  }
  .content {
    width: 100%;
  }
  .card {
    margin: var(--spacing-l) 0;
  }
  .card__link:after {
    content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  }
  .card__image {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .card__date {
    left: 0;
  }
  .card__title:before,
  .card:nth-of-type(3n+2) .card__title:before,
  .card:nth-of-type(3n+3) .card__title:before {
    display: none;
  }
  .home__footer {
    justify-content: center;
    width: 100%;
    border-top: 1px dashed;
    padding: 0;
    height: 40px;
    background: var(--color-bg);
  
  }
  .home__footer__toggle {
    height: 40px;
    border: none;
  }
  .home__footer__toggle.active:before,
  .home__footer__toggle:hover:before {
    display: none;
  }
}