:root {
  --color-bg: #f9f8f3;
  --color-main: #065c00;
  --color-link-bg-hover: #b7cdb5;
  --color-link-bg: #d5e3d3;
  --color-highlight: #97aecd;
  --height-footer: 80px;
  --height-header: 40px;
  --spacing: 40px;
  --spacing-m: 60px;
  --spacing-l: 100px;
  --spacing-xl: 180px;
}

html {
  font-family: Courier, monospace;
  font-size: 10px;
  color: var(--color-main);
  background: var(--color-bg);
  transition: color .2s;
}

img {
  width: 100%;
}

/* reset */
body, menu, h1, h2, h3, h4, p, blockquote, ul, ol, li, a, button {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-main);
  text-decoration: none;
}

body {
  overflow: hidden;
}

header {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 1px dashed;
  padding: 10px 15px;
  width: 100%;
  height: auto;
  background-color: var(--color-link-bg);
  max-height: var(--height-header);
  overflow: hidden;
}
header.active {
  max-height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
nav {
  display: none;
}
header.active nav {
  display: block;
}
.nav__toggle {
  cursor: pointer;
}
.nav__list {
  margin-top: 5px;
}
.nav__item {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
}
.nav__item + .nav__item {
  margin-left: 25px;
}
.nav__item--label {
  font-weight: bold;
  text-transform: uppercase;
}

.home__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  height: var(--height-footer);
}

.home__section {
  position: absolute;
  top: var(--height-header);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: calc(100% - var(--height-header));
  overflow: scroll;
  transition: left .4s;
  transition-timing-function: ease-in-out;
}
.home__section:first-of-type,
.shift .home__section:not(:first-of-type) {
  left: 0;
}
.home__section:not(:first-of-type) {
  left: 100%;
}
.shift .home__section:first-of-type {
  left: -100%;
}

.home__section--feed .content > *:last-child {
  margin-top: var(--spacing-l);
  padding-bottom: 200px;
}

.content {
  padding-bottom: var(--spacing);
  width: 800px;
  text-align: center;
}


/* typography */

h1 {
  margin-bottom: 10px;
}
.content h1 {
  display: inline-block;
  flex-basis: 0;
  margin-top: var(--spacing-m);
  padding: 5px 10px;
  border: 1px solid;
}

h2 {
  margin-top: var(--spacing);
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  margin-bottom: 10px;
  font-size: 3.75rem;
  font-weight: 500;
}

h4 {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px dashed;
  font-size: 1.5rem;
}

p, li {
  line-height: 3.2rem;
}
p {
  margin-bottom: 10px;
}

a {
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  transition: color .2s;
}
a:hover {
  color: #000;
}
a:not(.card__link):before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -10px;
  top: 15%;
  height: 20px;
  width: calc(100% + 20px);
  transform: rotate(-1deg);
  transition: background-color 0.2s;
  background: var(--color-link-bg);
}
a:not(.card__link):hover:before {  
  background: var(--color-link-bg-hover);
}
*:not(p):not(.nav__item):nth-child(even) > a:not(.card__link):before {
  transform: rotate(2deg);
}
p > a:not(.card__link):before,
.nav__item > a:not(.card__link):before {
  left: -3px;
  width: calc(100% + 6px);
  transform: rotate(0deg);
}
.nav__item > a:not(.card__link):before {
  height: 12px;
}

button {
  border: 1px dashed;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1.5rem;
  background: none;
}

/* home footer */

.home__footer__toggle {
  position: relative;
  cursor: pointer;
}
.home__footer__toggle + .home__footer__toggle {
  margin-left: 10px;
}
.home__footer__toggle.active:before,
.home__footer__toggle:hover:before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -15px;
  bottom: 0px;
  height: 20px;
  width: 20px;
  background: var(--color-highlight);
  transform: rotate(-20deg);
}
.home__footer__toggle + .home__footer__toggle.active:before,
.home__footer__toggle + .home__footer__toggle:hover:before {
  top: -15px;
  left: auto;
  right: 10px;
  transform: rotate(10deg);
}
.home__footer__toggle.active {
  cursor: default;
}

/* issue */
.issue {
  text-align: left;
}
.issue + .card {
  margin-top: 150px;
}
.issue__date {
  margin-bottom: var(--spacing);
  font-style: italic;
}

.issue__author-list {
  margin-bottom: var(--spacing);
  max-width: 900px;
  list-style: none;
  counter-reset: author-counter;
}
.issue__author-list__item {
  counter-increment: author-counter;
}
.issue__author-list__item:before {
  content: "0" counter(author-counter) ". ";
}

/* card */
.card {
  position: relative;
  margin: var(--spacing-xl) 0;
  width: 100%;
  text-align: left;
}
.card:after {
  content: "";
  display: table;
  clear: both;
}

.card__link {
  display: block;
  transition: color .2s;
}

.card__link:hover * {
  color: #000;
}
.card__link:after {
  content: "";
  display: table;
  clear: both;
}

.card__image {
  position: relative;
  float: right;
  margin: 0 0 20px 20px;
  width: 400px;
  transition: opacity .2s, filter .19s;
}
.card__link:hover .card__image {
  opacity: .95;
  filter: hue-rotate(130deg);
}

.card__title {
  position: relative;
}
.card__title:before {
  content: ' ';
  position: absolute;
  z-index: -1; 
  left: -50px;
  top: 30px;
  height: 20px;
  width: calc(100% + 100px);
  transform: rotate(1deg);
  transition: background-color 0.2s;
  background: var(--color-link-bg);
}
.card__link:hover .card__title:before {
  background: var(--color-link-bg-hover);
}

.card:nth-of-type(3n+2) .card__title:before {
  top: 10px;
  left: -35px;
  width: calc(100% + 50px);
  transform: rotate(-3deg);
}

.card:nth-of-type(3n+3) .card__title:before {
  top: 40px;
  left: -35px;
  width: calc(100% + 75px);
  transform: rotate(3deg);
}

.card__link:after {
  display: block;
  overflow: hidden;
  content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  margin-top: 20px;
  width: 100%;
  letter-spacing: 15px;
  color: var(--color-link-bg-hover);
}

.card__date {
  position: absolute;
  left: -50px;
  top: -40px;
  display: inline-block;
  margin-bottom: 0;
  border-bottom: 2px dashed;
  border-color: var(--color-link-bg-hover);
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: right;
  transform: rotate(-2deg);
}
.card__author {
  font-style: italic;
}
.card__column {
  margin-bottom: 20px;
  letter-spacing: 7px;
  text-align: right;
  text-transform: uppercase;
}

.card__tags {
  margin-top: 30px;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
.card__tags span {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid;
  padding: 2px 4px;
}

@media (max-width: 1399px) {
  .content {
    width: 600px;
  }
  .card__link:after {
    content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  }
  .card__image {
    width: 300px;
  }
}

@media (max-width: 999px) {
  html {
    font-size: 9px;
  }
  .content {
    width: calc(100% - 40px);
    max-width: 500px;
  }
  .card {
    margin: var(--spacing-l) 0;
  }
  .card__link:after {
    content: "\2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192 \2192";
  }
  .card__image {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .card__date {
    left: 0;
  }
  .card__title:before,
  .card:nth-of-type(3n+2) .card__title:before,
  .card:nth-of-type(3n+3) .card__title:before {
    display: none;
  }
  .home__footer {
    justify-content: center;
    width: 100%;
    border-top: 1px dashed;
    padding: 0;
    height: 40px;
    background: var(--color-bg);
  
  }
  .home__footer__toggle {
    height: 40px;
    border: none;
  }
  .home__footer__toggle.active:before,
  .home__footer__toggle:hover:before {
    display: none;
  }
}